html, body {
    background-image: url(https://image.ibb.co/cO9Lxq/login-bg.jpg);
    width: 100%;
    color: white;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#left {
    width: 30%;
    float: left;
    text-align: center;
    background: #171717;
    height: 100vh;
}

#right {
    width: 70%;
    float: right;
    text-align: center;
    margin-top: 20%;
}

.showcase-text {
    color: white;
}

.secondary-btn {
    display: block;
    padding: 10px;
    text-decoration: none;
    background: #545454;
    width: 50%;
    margin-left: 25%;
    color: white;
}

.text-input {
    width: 400px;
    background: black;
    height: 30px;
    color: white;
}

#main-footer {
    bottom: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 30%;
    color: white;
    text-align: center;
    margin-bottom: 3%;
}

label {
    margin-right: 50%;
}

.primary-btn {
    background: #0083bc;
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    width: 72%;
    margin-top: 10px;
    margin-left: 14%;
}

form {
    margin-top: 20%;
}

img {
    margin-top: 10%;
}

.links a {
    color: #0f4a6b;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.links {
    margin-top: 10%;
}

.bar {
    width: 70%;
}

#signin .secondary-btn {
    width: 70%;
    margin-left: 14%;
}

#main-footer a {
    color: white;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}
